/LostAges/[Ll]ibrary/
/LostAges/[Tt]emp/
/LostAges/[Oo]bj/
/LostAges/[Bb]uild/
/LostAges/[Bb]uilds/
/LostAges/[Ll]ogs/
/LostAges/MemoryCaptures/
/LostAges/sysinfo.txt


# User-specific
.vscode/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd

# OS
.DS_Store
Thumbs.db
